:root {
    --back-color: rgb(10, 10, 10);
    --container-color: rgb(31, 31, 31);
    --third-color: rgb(218, 0, 55);
    --fourth-color: rgb(131, 3, 31);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--back-color);
}

.container {
    color: white;
    background: var(--container-color);
    padding: 40px 100px 40px 100px;
    border-radius: 20px;
    border-style: solid;
    border-width: thick;
    border-color: var(--fourth-color);
    text-align: center;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

label.custom-file-upload, button {
    padding: 10px 20px;
    background-color: var(--third-color);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
}

label.custom-file-upload:hover, button:hover {
    background-color: var(--fourth-color);
}

.messages {
    margin-top: 10px;
    color: var(--third-color);
}
