<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">
</head>
<body>
<div>
    <h2>Upload File</h2>
    <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
        <!-- Replace label and input with a styled button -->
        <button type="button" id="uploadButton" onclick="document.getElementById('uploadFile').click()">
            Upload
        </button>
        <input id="uploadFile" type="file" name="file" style="display: none;" onchange="document.getElementById('uploadForm').submit()"/>
    </form>
    {{if .FileCode}}
    <div id="uploadMessage">
        File uploaded successfully. Your file code is: <strong>{{.FileCode}}</strong>
    </div>
    {{end}}

    <h2>Download File</h2>
    <form id="downloadForm" action="/download" method="GET">
        <label for="downloadFileName"></label>
        <input type="text" id="downloadFileName" name="file_code" placeholder="Enter 6-character code" maxlength="6" />
        <button type="submit">Download</button>
    </form>
    {{if .DownloadMessage}}
    <div id="downloadMessage">{{.DownloadMessage}}</div>
    {{end}}
</div>
</body>
</html>
