<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">
</head>
<body class="flex flex-col items-center justify-center h-screen bg-back-color text-white">
<div class="container bg-container-color p-10 rounded-lg border-4 border-fourth-color text-center">
    <h2 class="text-2xl mb-4">Upload File</h2>
    <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
        <label for="uploadButton" class="custom-file-upload inline-block py-2 px-4 bg-third-color text-white rounded cursor-pointer hover:bg-fourth-color">
            Upload
        </label>
        <input id="uploadButton" type="file" name="file" class="hidden" onchange="this.form.submit()"/>
    </form>
    {{if .FileCode}}
    <div id="uploadMessage" class="messages mt-4 text-third-color">
        File uploaded successfully. Your file code is: <strong>{{.FileCode}}</strong>
    </div>
    {{end}}

    <h2 class="text-2xl mt-8 mb-4">Download File</h2>
    <form id="downloadForm" action="/download" method="GET">
        <label for="downloadFileName" class="sr-only">File Code</label>
        <input type="text" id="downloadFileName" name="file_code" class="mb-4 p-2 w-full rounded" placeholder="Enter 6-character code" maxlength="6" />
        <button type="submit" class="py-2 px-4 bg-third-color text-white rounded hover:bg-fourth-color">Download</button>
    </form>

    <div id="downloadMessage" class="messages mt-4 text-third-color"></div>
</div>
</body>
</html>
